<body>
  <h1>Editing Book</h1>
  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  
  <div class="submission_form">
    <div class="title_body_form">Title</div>
    <div class="title_body_form"><%= f.text_field :title %></div>
  </div>

  <div class="submission_form">
    <div class="title_body_form">Body</div>
    <div class="title_body_form"><%= f.text_area :body %></div>
  </div>

  <p><%= f.submit 'Update Book' %></p>

  <div class="edit_show_back"><%= link_to "Show", book_path(@book.id) %><div class="separator"><%= link_to "Back", books_path %></div></div> 
  <% end %>
</body>