<body>
  <h1>Books</h1>
 
  <table>
  <thead>
  <tr>
    <th>Title</th>           
    <th>Body</th>    
    <th colspan="3"></th>
  </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
  <tr>
    <td class="is_num"><%= book.title %></td>     
    <td class="is_num"><%= book.body %></td>  
    <td><%= link_to "Show", book_path(book.id) %></td> 
    <td><%= link_to "Edit",  edit_book_path(book.id)%></td> 
    <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
  </tr>
  </tbody>
  <% end %>
  </table>

  <% if @book.errors.any? %>
    <%= @book.errors.count %> error prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h1 class="new_book">New Book</h1>
  <%= form_with model:@book do |f| %>
    <div class="submission_form">
      <div class="form_design">Title</div>
      <div class="form_design"><%= f.text_field :title %></div>
    </div>

    <div class="submission_form">
      <div class="form_design">Body</div>
      <div class="form_design"><%= f.text_area :body %></div>
    </div>

    <div><%= f.submit 'Create Book' %></div>
  <% end %>
</body>