<h1>Books#index</h1>
<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <%= link_to "Show", "/lists/#{book.id}" %>
  <%= link_to "Edit", "/lists/#{book.id}" %>
  <%= link_to "Destroy", "/lists/#{book.id}" %>
  
<% end %>

