<body>
  <h1>Books#index</h1>
  <div class="table">
    <% @books.each do |book| %>
      <div class="table_element">
        <p><%= book.title %></p>
        <p><%= book.body %></p>
        <div class ="table_link">
          <%= link_to "Show", book_path(book.id) %>
          <%= link_to "Edit",  edit_book_path(book.id)%>
          <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @book.errors.any? %>
    <%= @book.errors.count %> error prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h1 class="new_book">New Book</h1>
  <%= form_with model:@book do |f| %>
    <div class="submission_form">
      <div class="form_design">Title</div>
      <div class="form_design"><%= f.text_field :title %></div>
    </div>

    <div class="submission_form">
      <div class="form_design">Body</div>
      <div class="form_design"><%= f.text_area :body %></div>
    </div>

    <div><%= f.submit 'Create Book' %></div>
  <% end %>
</body>